# Build artifacts
build/
bin/open-sosaria
bin/open-sosaria.exe
bin/disk1.dsk
bin/disk2.dsk
*.o
*.a
*.so
*.dylib
*.dll

# Executables
open-sosaria
open-sosaria.exe

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS-specific
Thumbs.db
.DS_Store

# Debug files
*.dSYM/
*.su
*.gch
*.pch

# Valgrind
vgcore.*
